body {
  background-color: #1d2026;
  font-family: Source Sans Pro;
  font-weight: normal;
  /*font-variant: small-caps; */
}
a:focus {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@media (max-width: 440px) {
  .menu-row-1 .menu-title a {
    font-size: 35px !important;
  }
  .menu-title a {
    letter-spacing: normal !important;
  }
}
.main {
  max-width: 700px;
  /*min-width: 440px;*/
  margin-top: 30px;
}
.main-content {
  margin: 20px 0;
}
.content-title, .content-title-smoll{
  margin-top: 20px;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: -3px;
}

.content-title-smoll{
  font-size: 22px;
}
.content-subtitle {
  font-size: 17px;
  text-transform: uppercase;
}
.content-location {
  font-variant: small-caps;
}
.content-text {
  margin-top: 2px;
}
.skill-point {
  width: 100px;
  margin-right: -8px;
}
.bio-img{
  width: 150px;
  /*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(100%);*/*/
}

.footer-logo{
  width: 50px;
}
.footer-logo-box{
  width:100px;
  display:block;
  margin: 0 auto;
}
.footer-language, .footer-sign{
  margin-top: 20px
}
