<div class="container main">
  <div class="row">
    <div class="col-sm-12 menu-row menu-row-cegithubnter menu-row-1" ng-class="{'menu-row-active': isActive('menu.me')}">
      <div class="menu-title menu-title-center">
        <a href="" ng-click="goto('menu.me')">Luca Rinaldi</a>
      </div>
      <div ui-view="viewMe"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 menu-row menu-row-right menu-row-2" ng-class="{'menu-row-active': isActive('menu.education')}">
      <!-- <div class="menu-row-back" ng-class="{'menu-row-back-active': isActive('menu.education')}"> -->
      <div class="menu-title menu-title-right">
        <a href="" ng-click="goto('menu.education')" ng-bind="'EDU' | translate"></a>
      </div>
      <div ui-view="viewEducation"></div>
      <!-- </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 menu-row menu-row-left menu-row-3" ng-class="{'menu-row-active': isActive('menu.experience')}">
      <div class="menu-title menu-title-left">
        <a href="" ng-click="goto('menu.experience')" ng-bind="'EXP' | translate"></a>
      </div>
      <div ui-view="viewExperience"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 menu-row menu-row-right menu-row-4" ng-class="{'menu-row-active': isActive('menu.skills')}">
      <div class="menu-title menu-title-right">
        <a href="" ng-click="goto('menu.skills')" ng-bind="'SKI' | translate">Skills</a>
      </div>
      <div ui-view="viewSkills"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 menu-row menu-row-left menu-row-5" ng-class="{'menu-row-active': isActive('menu.projects')}">
      <div class="menu-title menu-title-left">
        <a href="" ng-click="goto('menu.projects')" ng-bind="'PRO' | translate"></a>
      </div>
      <div ui-view="viewProjects"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 menu-row menu-row-right menu-row-6" ng-class="{'menu-row-active': isActive('menu.contacts')}">
      <div class="menu-title menu-title-right">
        <a href="" ng-click="goto('menu.contacts')" ng-bind="'CON' | translate"></a>
      </div>
      <div ui-view="viewContacts"></div>
    </div>
  </div>
</div>
