<container-fluid>
  <div class="row" ng-repeat="c in cat">
    <div class="col-md-12">
      <div class="content-title" ng-bind="c.name | langFilter"></div>
      <div ng-repeat="i in p | filter:{category:c._id}">
        <a href="{{ i.link }}">
          <div class="content-title-smoll" ng-bind="i.name"></div>
        </a>
        <div class="content-location" ng-bind="i.date | formatDate"></div>
        <div class="content-text" ng-bind="i.info | langFilter"></div>
      </div>
    </div>
  </div>
</container-fluid>
